<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit patient</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/patients/{id}(id=${patient.getId()})}" th:object="${patient}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="diagnoses">Diagnosis: </label>
    <input type="text" th:field="*{diagnoses}" id="diagnoses"/>

    <label for="insuranceNumber">Insurance Number: </label>
    <input type="text" th:field="*{insuranceNumber}" id="insuranceNumber"/>

    <label for="patientStatus">Patient Status: </label>
    <input type="text" th:field="*{patientStatus}" id="patientStatus"/>

    <br/>
    <input type="submit" value="Edit"/>
</form>

</body>
</html>